@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#magic{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #1f1f1f;
    z-index: 100;
    position: absolute;
    top: -105vh;
    transition-duration: .7s;
}

#magic i{
    color: #daac21;
    position: relative;
    left: -2rem;
}

#top{
    padding-right: 18%;
    padding-left: 18%;
}

#logoMenu, #exit{
    background-color: #daac21;
    margin-top: 3.5rem;
}

#logoMenu{
    width: 7.5rem;
    height: 4.5rem;
    border-radius: .5rem;
    font-size: 2.7rem;
    padding: .5rem;
    float: left;
}

#exit{
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    font-size: 3.5rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: right;
}

#genre{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 105vh;
    color: white;
}

#genre a{
    text-decoration-line: none;
    color: white;
    line-height: 2.9rem;
    font-size: 1.6rem;
}

#genre h1{
    position: relative;
    left: -3.8rem;
    margin-bottom: 1rem;
    font-size: 1.8em;
}

#firstRow, #secondRow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}