@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    font-size: 2rem;
    background: #000;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 6rem;
    color: white;
    background-color: #1f1f1f;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

nav div{
    display: inline-block;
}

#menu, #pro, #watchList, #signIn{
    border-radius: .3rem;
    padding: 1.5rem;
    margin: 1rem;
}

#menu:hover, #pro:hover, #watchList:hover, #signIn:hover{
    background-color: #323232;
    cursor: pointer;
}

#logo{
    cursor: pointer;
}

#text{
    position: relative;
    bottom: .7rem;
}

#logo{
    width: 6rem;
    height: 3.1rem;
    color: #1d1d1d;
    background-color: #daac21;
    padding: .5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-top: 1.4rem;
}

#customSearchBar{
    width: 45%;
    background-color: white;
    color: #1d1d1d;
    height: 3.5rem;
    border-radius: .5rem;
    margin-top: 1.4rem;
    vertical-align: center;
}

.custom-select-wrapper {
    position: relative;
    top: -.13rem;
    user-select: none;
    width: 30%;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: black;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #1f1f1f;
    height: 3rem;
    background: #ffffff;
    cursor: pointer;
    border-radius: .5rem 0 0 .5rem;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    background: #1f1f1f;
    color: white;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    color: white;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    line-height: 4rem;
    cursor: pointer;
    transition: all 0.3s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #2c2c2c;
}
.custom-option.selected {
    color: #daac21;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.15rem;
    height: 100%;
    transition: all 0.3s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

#loupe{
    margin-top: 0.5rem;
    margin-left: 3rem;
    color: #989898;
}

.iconOption{
    position: relative;
    left: -1.3rem;
}

#dropdown-content{
    display: none;
    position: absolute;
    top: 6rem;
    background-color: #394a6d;
    padding: 2rem 2rem 2rem 5rem;
    z-index: 1;
}

#dropdown:hover #dropdown-content{
    display: block;
}

#dropdown-content:hover #dropdown:hover{
    display: none;
}

#buttonTry{
    background-color: #daac21;
    border-radius: .5rem;
    color: black;
    margin-top: 2rem;
    padding: 1rem 3rem 1rem 3rem;
}

#searchBar{
    width: 60%;
    height: 3.5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    vertical-align: center;
}

#separation{
    border: 1px solid #989898;
    width: 2px;
    height: 3.2rem;
    margin-top: 1.4rem;
    opacity: 0.16;
}

#line{
    width: 970px;
    height: 250px;
    background: repeating-linear-gradient(-45deg, #fff, #fff 2px, transparent 2px, transparent 9px);
    -webkit-mask-image: -webkit-radial-gradient(rgba(0,0,0,0.15) 0, transparent 74%, transparent 85%);
    margin: auto;
}

.title{
    color: #daac21;
    font-size: 3rem;
    margin: 1.7rem 0 1.7rem 12rem;
}