@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
    background: #000;
}

nav{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 6rem;
    color: white;
    background-color: #1d1d1d;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

nav div{
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2.5rem;
}

#logo{
    width: 6rem;
    height: 3.1rem;
    color: #1d1d1d;
    background-color: #daac21;
    padding: .5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-top: 1.4rem;
}

#customSearchBar{
    width: 45%;
    background-color: white;
    color: #1d1d1d;
    height: 3.5rem;
    border-radius: .5rem;
    margin-top: 1.4rem;
    overflow: hidden;
    vertical-align: center;
}

select{
    border: none;
    border-right: 1px solid #989898;
    height: 4rem;
    position: relative;
    top: -.3rem;
}

#custom-select{
    margin: 0;
    vertical-align: center;
}

.fas.fa-search{
    margin-top: 0.5rem;
    margin-left: 5rem;
    color: #989898;
}

#searchBar{
    width: 77%;
    height: 3.5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    vertical-align: center;
}

select, option{
    font-weight: bold;
}

#separation{
    border: 1px solid #989898;
    width: 2px;
    height: 3.2rem;
    margin-top: 1.4rem;
    opacity: 0.16;
}

#line{
    width: 970px;
    height: 250px;
    background: repeating-linear-gradient(-45deg, #fff, #fff 2px, transparent 2px, transparent 9px);
    -webkit-mask-image: -webkit-radial-gradient(rgba(0,0,0,0.15) 0, transparent 74%, transparent 85%);
    margin: auto;
}
